<h1>Welcome to the Maps Adventure!</h1>
<h2>Travel the world, see the sights, have the adventures.</h2>
<!-- <div class="form-group"> -->
  <!-- <div class="input-group">
    <span class="input-group-addon">What's your name traveler?</span>
    <input #name class="form-control">
  </div>
  <div class="input-group">
    <span class="input-group-addon">What's your business?</span>
    <select #job class="form-control">
      <option value="archeologist">Artifact Hunter</option>
      <option value="vacationer">Jet Setter</option>
      <option value="businessman">Capitalist Viper</option>
      <option value="hunter">Killer of exotic things</option>
    </select>
  </div> -->
  <!-- <button click="addTraveler(name.value, job.value)" class="btn btn-danger">Venture forth!</button>
</div> -->
<div class="row">
  <div class="col-sm-6">

<app-change-city [cityToDisplay]="cityToDisplay"></app-change-city>



  </div>
  <div class="col-sm-6">
    <app-map [cityToDisplay]="cityToDisplay"></app-map>
  </div>
</div>
